tr{
    color: #ff0000;
    background-color: black;
}

#something:hover{
    cursor: pointer;
    color: red;
}


.animated{
    color:green;
    background-color:white;
    transition: all 0.5s;
}

.animated:hover{
    color:red;
    background-color: black;
}

.box{
    margin:10px;
    background-color: blueviolet;
    height: 50px;
    width: 200px;
    padding: 20px;
    border: 5px solid blue;

}

